python-dotenv==1.0.1
langchain==0.2.6
langchain-openai==0.1.13
openai==1.35.7
langgraph==0.1.5
langchain-community==0.2.6
langchain-core==0.2.10
pandas==2.2.2
tavily-python==0.3.3
gradio
huggingface-hub<0.26.0
a2wsgi==1.0.7
